<center>
<img src="../../img/ods_stickers.jpg" />
    
## [mlcourse.ai](https://mlcourse.ai) â€“ Open Machine Learning Course 
Author: Arina Lopukhova (@erynn). Edited by [Yury Kashnitskiy](https://yorko.github.io) (@yorko) and Vadim Shestopalov (@vchulski). This material is subject to the terms and conditions of the [Creative Commons CC BY-NC-SA 4.0](https://creativecommons.org/licenses/by-nc-sa/4.0/) license. Free use is permitted for any non-commercial purpose.

# <center>Assignment #1. Fall 2019
## <center>Exploratory data analysis of Olympic games with Pandas
    
<img src='../../img/olympic_logo.png' width=50%>

Prior to working on the assignment, you'd better check out the corresponding course material:
 - [Exploratory data analysis with Pandas](https://nbviewer.jupyter.org/github/Yorko/mlcourse_open/blob/master/jupyter_english/topic01_pandas_data_analysis/topic1_pandas_data_analysis.ipynb?flush_cache=true), the same as an interactive web-based [Kaggle Kernel](https://www.kaggle.com/kashnitsky/topic-1-exploratory-data-analysis-with-pandas)
 - first lectures in mlcourse.ai [YouTube playlist ](https://www.youtube.com/watch?v=QKTuw4PNOsU&list=PLVlY_7IJCMJeRfZ68eVfEcu-UcN9BbwiX) 
 - you can also practice with demo assignments, which are simpler and already shared with solutions: [A1 demo](https://www.kaggle.com/kashnitsky/a1-demo-pandas-and-uci-adult-dataset), [solution](https://www.kaggle.com/kashnitsky/a1-demo-pandas-and-uci-adult-dataset-solution)

### Your task is to:
 1. write code and perform computations in the cells below
 2. choose answers in the [webform](https://docs.google.com/forms/d/1JxhQ9Bg4OpM3E5N47ZuRbILgDuMRbvEnUbDMZK8L-NU). Solutions will be shared only with those who've filled in this form 
 3. submit answers with some email and **remember it**! This will be your ID during the course. Specify your real full name in the form as well (no nicks allowed in the final top-100 [rating](https://mlcourse.ai/rating)). If in doubt, you can re-submit the form till the deadline for A1, no problem, but stick to only one email.
 
### <center> Deadline for A1: 2019 September 15, 20:59 GMT (London time)
    
You'll get up to 10 credits for this assignment.

### How to get help
In [ODS Slack](https://opendatascience.slack.com) (if you still don't have access, fill in the [form](https://docs.google.com/forms/d/10HAN5huM996snUKjsNYyT_oOlm2uOsTKulKurb3oiNM/) mentioned on the mlcourse.ai main page), we have a channel **#mlcourse_ai_news** with announcements from the course team.
You can discuss the course content freely in the **#mlcourse_ai** channel (we still have a huge Russian-speaking group, they have a separate channel **#mlcourse_ai_rus**).

Here's how you reply in a thread (press this dialog icon to drill down into a thread):

<img src="../../img/start_a_thread.png" />

Please stick to special threads *a1_q1-5_fall2019* and *a1_q6-10_fall2019* in **#mlcourse_ai_news** for your questions on A1. Help each other without sharing correct code and answers. Our TA **Vadim @vchulski** is there to help (only in the mentioned thread, do not write to him directly).

Lastly, you can save useful messages by pinning them, further you can find pinned items on the top, just below the channel name:

<img src="../../img/pinned_item.png" />

### Assignment 
__There are ten questions about 120 years of Olympic history in this task. Your task is to fill in the missing Python code and choose answers in [this web-form](https://docs.google.com/forms/d/1JxhQ9Bg4OpM3E5N47ZuRbILgDuMRbvEnUbDMZK8L-NU).__

Download the file `athlete_events.csv` from [here](https://drive.google.com/file/d/1f5v6Z2ayc7h698FG_98wP5x1Y2zZQeox/view?usp=sharing) (scraped by [rgriffin](https://www.randigriffin.com/) from www.sports-reference.com). The dataset has the following features:

- __ID__ - Unique number for each athlete
- __Name__ - Athlete's name
- __Sex__ - M or F
- __Age__ - Integer
- __Height__ - In centimeters
- __Weight__ - In kilograms
- __Team__ - Team name
- __NOC__ - National Olympic Committee 3-letter code
- __Games__ - Year and season
- __Year__ - Integer
- __Season__ - Summer or Winter
- __City__ - Host city
- __Sport__ - Sport
- __Event__ - Event
- __Medal__ - Gold, Silver, Bronze, or NA

In [41]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('athlete_events.csv')
data.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

In [23]:
data.shape

(271116, 15)

__1. How old were the youngest male and female participants of the 1992 Olympics?__

*For discussions, please stick to [ODS Slack](https://opendatascience.slack.com/), channel #mlcourse_ai_news, pinned thread #a1_q1-5_fall2019*

- 16 and 15
- 14 and 13 
- 13 and 11
- 11 and 12

In [125]:
min_male = 1000
min_female = 1000
df1 = data[['Sex', 'Age', 'Year']].dropna()
df1.query('Year == 1992', inplace = True)
for i in range (0, len(df1['Sex'])):
    if df1['Sex'].iloc[i] == 'M':
        if int(df1['Age'].iloc[i]) < min_male:
            min_male = int(df1['Age'].iloc[i])
    if df1['Sex'].iloc[i] == 'F':
        if int(df1['Age'].iloc[i]) < min_female:
            min_female = int(df1['Age'].iloc[i])
print(min_male, min_female)

11 12

__2. What was the percentage of male basketball players among all the male participants of the 2012 Olympics? Round the answer to the first decimal.__

*Hint:* here and further if needed drop duplicated sportsmen to count only unique ones. 

*For discussions, please stick to [ODS Slack](https://opendatascience.slack.com/), channel #mlcourse_ai_news, pinned thread #a1_q1-5_fall2019*

- 0.2
- 1.5 
- 2.5
- 7.7

In [203]:
tot_male = 0
male_bask = 0
df2 = data[['Name', 'Sex', 'Sport', 'Year', 'Age', 'Weight']].copy()
df2.query('Year == 2012 & Sex == "M"', inplace = True)
df2.drop_duplicates(inplace = True)
tot_male = len(df2['Sex'])
df2.query('Sport == "Basketball"', inplace = True)
male_bask = len(df2['Sex'])
print(round(male_bask/tot_male*100, 1), tot_male, male_bask)

2.5 5863 144

__3. What are the mean and standard deviation of height for female tennis players who participated in the 2000 Olympics? Round the answer to the first decimal.__

*For discussions, please stick to [ODS Slack](https://opendatascience.slack.com/), channel #mlcourse_ai_news, pinned thread #a1_q1-5_fall2019*

- 171.8 and 6.5
- 179.4 and 10
- 180.7 and 6.7
- 182.4 and 9.1

In [179]:
df3 = data[['Sex', 'Height', 'Name', 'Sport', 'Year', 'Weight', 'Age']].copy()
df3.query('Sex == "F" & Sport == "Tennis" & Year == 2000', inplace = True)
df3.drop_duplicates(inplace = True)
df3.reset_index()
df3['Height'].describe()

count     88.000000
mean     171.806818
std        6.563322
min      150.000000
25%      168.000000
50%      172.000000
75%      176.000000
max      191.000000
Name: Height, dtype: float64

__4. Find a sportsman who participated in the 2006 Olympics, with the highest weight among other participants of the same Olympics. What sport did he or she do?__

*For discussions, please stick to [ODS Slack](https://opendatascience.slack.com/), channel #mlcourse_ai_news, pinned thread #a1_q1-5_fall2019*

- Judo
- Bobsleigh 
- Skeleton
- Boxing

In [182]:
df4 = data[['Year', 'Weight', 'Sport', 'Name', 'Age']].copy()
df4.query('Year == 2006', inplace = True)
df4.drop_duplicates(inplace = True)
df4.reset_index(inplace = True)
df4['Sport'].iloc[np.argmax(df4['Weight'])]

'Skeleton'

__5. How many times did John Aalberg participate in the Olympics held in different years?__

*For discussions, please stick to [ODS Slack](https://opendatascience.slack.com/), channel #mlcourse_ai_news, pinned thread #a1_q1-5_fall2019*

- 0
- 1 
- 2
- 3

In [205]:
df5 = data[['Name', 'Year', 'Weight', 'Age']].copy()
df5.drop_duplicates(inplace = True)
df5.query('Name == "John Aalberg"', inplace = True)
df5

            Name  Year  Weight   Age
18  John Aalberg  1992    72.0  31.0
22  John Aalberg  1994    72.0  33.0

__6. How many gold medals in tennis did sportspeople from the Switzerland team win at the 2008 Olympics? Count every medal from every sportsperson.__

*For discussions, please stick to [ODS Slack](https://opendatascience.slack.com/), channel #mlcourse_ai_news, pinned thread #a1_q6-10_fall2019*

- 0
- 1 
- 2
- 3

In [210]:
df6 = data[['Year', 'Sport', 'Name', 'Team', 'Medal', 'Age', 'Weight', 'Event']].copy()
df6.query('Year == 2008 & Sport == "Tennis" & Team == "Switzerland" & Medal == "Gold"', inplace = True)
df6.drop_duplicates(inplace = True)
df6

,Year,Sport,Name,Team,Medal,Age,Weight,Event
67290,2008,Tennis,Roger Federer,Switzerland,Gold,26.0,80.0,Tennis Men's Doubles
257672,2008,Tennis,Stanislas Wawrinka,Switzerland,Gold,23.0,79.0,Tennis Men's Doubles

__7. Is it true that Spain won fewer medals than Italy at the 2016 Olympics? Do not consider NaN values in _Medal_ column.__ 

*For discussions, please stick to [ODS Slack](https://opendatascience.slack.com/), channel #mlcourse_ai_news, pinned thread #a1_q6-10_fall2019*

- Yes
- No

In [197]:
df7 = data[['Team', 'Year', 'Weight', 'Age', 'Name', 'Medal', 'Event']].copy()
df7.query('Year == 2016', inplace = True)
df7.query('Team == "Spain" | Team == "Italy"', inplace = True)
df7.drop_duplicates(inplace = True)
df7.dropna(subset = ['Medal'], inplace = True)
df7['Team'].value_counts()

Italy    70
Spain    43
Name: Team, dtype: int64

__8. What age category did the fewest and the most participants of the 2008 Olympics belong to?__

*For discussions, please stick to [ODS Slack](https://opendatascience.slack.com/), channel #mlcourse_ai_news, pinned thread #a1_q6-10_fall2019*

- [45-55] and [25-35) correspondingly
- [45-55] and [15-25) correspondingly
- [35-45) and [25-35) correspondingly
- [45-55] and [35-45) correspondingly

In [253]:
df8 = data[['Year', 'Age', 'Name', 'Height', 'Weight']].copy()
df8.query('Year == 2008', inplace = True)
df8.drop_duplicates(inplace = True)
df8.groupby(pd.cut(df8['Age'], [5,15,25,35,45,55,65,75])).count()

          Year   Age  Name  Height  Weight
Age
(5, 15]     50    50    50      48      48
(15, 25]  5627  5627  5627    5539    5540
(25, 35]  4666  4666  4666    4625    4628
(35, 45]   486   486   486     479     479
(45, 55]    60    60    60      60      59
(55, 65]     8     8     8       8       8
(65, 75]     1     1     1       1       1

__9. Is it true that there were Summer Olympics held in Atlanta? Is it true that there were Winter Olympics held in Squaw Valley?__

*For discussions, please stick to [ODS Slack](https://opendatascience.slack.com/), channel #mlcourse_ai_news, pinned thread #a1_q6-10_fall2019*

- Yes, Yes
- Yes, No
- No, Yes 
- No, No

In [261]:
df9 = data[['City', 'Season', 'Year', 'Games']].copy()
df9.drop_duplicates(inplace  = True)
df9.query('City == "Atlanta" | City == "Squaw Valley"', inplace = True)
df9

            City  Season  Year        Games
32       Atlanta  Summer  1996  1996 Summer
83  Squaw Valley  Winter  1960  1960 Winter

__10. What is the absolute difference between the number of unique sports at the 1986 Olympics and 2002 Olympics?__

*For discussions, please stick to [ODS Slack](https://opendatascience.slack.com/), channel #mlcourse_ai_news, pinned thread #a1_q6-10_fall2019*

- 3 
- 10
- 15
- 27

In [265]:
df10 = data[['Year', 'Sport', 'Season']].copy()
df10.query('Year == 1986 | Year == 2002', inplace = True)
df10.drop_duplicates(inplace = True)
df10

       Year                      Sport  Season
28     2002                 Ice Hockey  Winter
72     2002              Alpine Skiing  Winter
121    2002       Cross Country Skiing  Winter
738    2002                       Luge  Winter
782    2002           Freestyle Skiing  Winter
1001   2002              Speed Skating  Winter
1053   2002             Figure Skating  Winter
1244   2002            Nordic Combined  Winter
1260   2002                  Bobsleigh  Winter
2555   2002                Ski Jumping  Winter
2935   2002                   Biathlon  Winter
3837   2002                   Skeleton  Winter
4936   2002  Short Track Speed Skating  Winter
6814   2002               Snowboarding  Winter
14488  2002                    Curling  Winter

That's it! Now go and do 30 push-ups! :)