In [8]:
import pandas as pd
import numpy as np
from sklearn.tree import DecisionTreeClassifier
import math

In [2]:
df = pd.read_csv('titanic.csv', engine = 'python')

In [3]:
df = df[['Pclass', 'Sex', 'Age', 'Fare', 'Survived']]
df.dropna(inplace = True)
df.reset_index(inplace = True, drop = True)
df_var = df[['Pclass', 'Sex', 'Age', 'Fare']]
df_target = df['Survived']

In [15]:
x = []
for item in df_var['Sex']:
    
    if item == 'male':
        
        x.append(1)
        
    if item == 'female':
        
        x.append(2)

df_var['Sex'] = x

C:\Users\kpebe\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':

In [9]:
model = DecisionTreeClassifier(random_state = 241)

In [17]:
model.fit(df_var, df_target)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=241, splitter='best')

In [28]:
features = model.feature_importances_
feature_names = model.get_params

In [26]:
features

array([0.14751816, 0.30051221, 0.25124241, 0.30072722])

In [32]:
file = open('answer.txt', 'w')
file.write('Fare Sex')
file.close()

In [30]:
df_var

     Pclass  Sex   Age     Fare
0         3    1  22.0   7.2500
1         1    2  38.0  71.2833
2         3    2  26.0   7.9250
3         1    2  35.0  53.1000
4         3    1  35.0   8.0500
..      ...  ...   ...      ...
709       3    2  39.0  29.1250
710       2    1  27.0  13.0000
711       1    2  19.0  30.0000
712       1    1  26.0  30.0000
713       3    1  32.0   7.7500

[714 rows x 4 columns]