In [1]:
import pandas as pd
import csv
import numpy as np
from sklearn import cluster, feature_extraction, model_selection

In [24]:
dat = open(r'checkins.dat', 'r')

In [25]:
lines = dat.readlines()
lines.pop(1)

'---------+---------+----------+-------------------+-------------------+---------------------\n'

In [33]:
with open (r'checking.csv', 'w') as csv:
    for line in lines:
        line = line.replace('|', ';')
        line = line.replace(' ', '')
        csv.write(line)
csv.close

In [34]:
data = pd.read_csv(r'checking.csv', sep = ';', engine = 'python')

In [35]:
data.head()

       id    user_id  venue_id   latitude  longitude          created_at
0  984301  2041916.0    5222.0        NaN        NaN  2012-04-2117:39:01
1  984222    15824.0    5222.0  38.895112 -77.036366  2012-04-2117:43:47
2  984315  1764391.0    5222.0        NaN        NaN  2012-04-2117:37:18
3  984234    44652.0    5222.0  33.800745 -84.410520  2012-04-2117:43:43
4  984249  2146840.0    5222.0        NaN        NaN  2012-04-2117:42:58

In [39]:
data.query('latitude != "NaN" or longitude != "NaN"', inplace = True)

In [43]:
data.dropna(subset = ['latitude', 'longitude'], inplace = True)

In [45]:
data_new = data[:10**5]

In [46]:
data_new

,id,user_id,venue_id,latitude,longitude,created_at
1,984222,15824.0,5222.0,38.895112,-77.036366,2012-04-2117:43:47
3,984234,44652.0,5222.0,33.800745,-84.410520,2012-04-2117:43:43
7,984291,105054.0,5222.0,45.523452,-122.676207,2012-04-2117:39:22
9,984318,2146539.0,5222.0,40.764462,-111.904565,2012-04-2117:35:46
10,984232,93870.0,380645.0,33.448377,-112.074037,2012-04-2117:38:18
11,984483,1030290.0,955969.0,32.221743,-110.926479,2012-04-2117:58:54
12,984685,304253.0,23558.0,40.650000,-73.950000,2012-04-2118:19:34
13,984470,720850.0,749715.0,33.448377,-112.074037,2012-04-2117:02:47
15,984610,1639666.0,442605.0,33.414768,-111.909309,2012-04-2118:04:58
18,984653,1647192.0,23558.0,42.358431,-71.059773,2012-04-2118:23:22
19,984251,298547.0,77014.0,33.448377,-112.074037,2012-04-2117:34:33
20,984528,2046311.0,15682.0,33.414768,-111.909309,2012-04-2118:18:29
25,984438,2096701.0,4432.0,33.448377,-112.074037,2012-04-2118:21:19
26,984277,1648816.0,18006.0,33.248664,-111.634299,2012-04-2117:49:30
27,984320,349414.0,819.0,32.840678,-117.258794,2012-04-2117:27:36
29,984359,1861538.0,819.0,34.052234,-118.243685,2012-04-2117:18:22
34,984294,1447044.0,1135957.0,33.414768,-111.909309,2012-04-2117:33:12
35,984336,2064557.0,111071.0,33.448377,-112.074037,2012-04-2116:25:00
38,984527,1243334.0,989443.0,34.483901,-114.322455,2012-04-2118:22:59
40,984326,2046338.0,989443.0,34.048928,-111.093731,2012-04-2117:56:27
41,984454,2098254.0,610703.0,32.715329,-117.157255,2012-04-2117:49:30
42,984395,1508584.0,410624.0,33.448377,-112.074037,2012-04-2117:58:10
46,984231,1868751.0,21948.0,38.895112,-77.036366,2012-04-2115:53:38
47,984322,1096457.0,10935.0,33.745851,-117.826166,2012-04-2118:10:08
49,984474,2146888.0,10935.0,34.096111,-118.105833,2012-04-2117:39:56
50,984355,966186.0,10935.0,34.052234,-118.243685,2012-04-2118:03:47
52,984345,482032.0,10935.0,37.629349,-122.400087,2012-04-2118:04:38
53,984508,2146895.0,10935.0,4.598056,-74.075833,2012-04-2117:38:25
54,984381,28655.0,10935.0,33.804167,-118.158056,2012-04-2117:59:40
55,984346,2098173.0,11195.0,40.735657,-74.172367,2012-04-2118:17:31
...,...,...,...,...,...,...
233728,110062,381831.0,60.0,32.678109,-117.099197,2011-12-1103:11:23
233730,110555,362865.0,65991.0,34.019454,-118.491191,2011-12-1103:05:47
233731,110332,315873.0,69490.0,37.339386,-121.894955,2011-12-1103:02:44
233732,110992,1142527.0,1259.0,40.650000,-73.950000,2011-12-1101:52:34
233735,340873,496537.0,305934.0,43.009703,-85.520024,2011-12-2516:52:18
233736,159959,73854.0,13909.0,34.746481,-92.289595,2011-12-1202:20:45
233737,108686,1112432.0,10936.0,41.763711,-72.685093,2011-12-1102:11:56
233738,112145,161610.0,38045.0,44.310000,-96.790000,2011-12-1103:15:55
233739,112174,1293813.0,9310.0,35.221997,-101.831297,2011-12-1102:43:50
233741,112424,359655.0,463797.0,40.740389,-73.983385,2011-12-1103:33:37
233742,160168,141101.0,69425.0,33.641132,-117.918669,2011-12-1200:46:43
233743,111620,84184.0,90472.0,40.715972,-74.001437,2011-12-1103:07:28
233744,111626,7015.0,90472.0,41.033986,-73.762910,2011-12-1102:43:32
233746,161285,542836.0,496614.0,27.937801,-82.285925,2011-12-1200:05:50
233749,113263,313052.0,89618.0,36.087708,-86.648397,2011-12-1103:38:17
233751,161321,391244.0,139919.0,26.203407,-98.230012,2011-12-1201:49:06
233753,114439,47709.0,12253.0,40.740389,-73.983385,2011-12-1103:59:58
233755,114986,239534.0,260697.0,40.768433,-73.525125,2011-12-1102:00:37
233758,115167,302218.0,37627.0,42.866680,-88.333427,2011-12-1101:53:32
233759,115777,7109.0,512744.0,40.704824,-73.650130,2011-12-1102:36:50
233761,116447,204646.0,9687.0,43.652500,-79.381667,2011-12-1103:20:31
233765,118079,88107.0,64883.0,42.372640,-71.109653,2011-12-1104:41:35
233769,118667,610951.0,169556.0,35.994033,-78.898619,2011-12-1103:47:27
233780,121724,400733.0,155793.0,29.762884,-95.383061,2011-12-1104:25:34
233787,123847,30672.0,197167.0,41.878114,-87.629798,2011-12-1107:35:57
233788,123888,1019078.0,1105563.0,33.575000,-117.725556,2011-12-1105:38:19
233789,124366,771129.0,329847.0,37.629349,-122.400087,2011-12-1104:55:34
233793,125556,804990.0,254046.0,29.762884,-95.383061,2011-12-1106:54:20
233797,127250,526214.0,34473.0,32.802955,-96.769923,2011-12-1110:05:38
233798,127284,290973.0,280656.0,37.774929,-122.419415,2011-12-1108:24:40

In [47]:
cluster = cluster.MeanShift(bandwidth = 0.1)

In [62]:
X = np.transpose(np.array([data_new['latitude'], data_new['longitude']]))
X

array([[  38.8951118,  -77.0363658],
       [  33.800745 ,  -84.41052  ],
       [  45.5234515, -122.6762071],
       ...,
       [  29.7628844,  -95.3830615],
       [  32.802955 ,  -96.769923 ],
       [  37.7749295, -122.4194155]])

In [63]:
cluster.fit(X)

MeanShift(bandwidth=0.1, bin_seeding=False, cluster_all=True, min_bin_freq=1,
     n_jobs=None, seeds=None)

In [107]:
counts = np.unique(cluster.labels_, return_counts = True)
counts

(array([   0,    1,    2, ..., 3228, 3229, 3230], dtype=int64),
 array([12506,  4692,  3994, ...,     1,     1,     1], dtype=int64))

In [112]:
special_arr = []
for i in range(0, len(counts[0])):
    if counts[1][i] > 15:
        special_arr.append(counts[0][i])

In [131]:
cluster.cluster_centers_[0]

array([ 40.7177164 , -73.99183542])

In [190]:
special_arr[:]

SyntaxError: invalid syntax (<ipython-input-190-015970797129>, line 1)

In [141]:
big_clusters = []
for item in special_arr:
    big_clusters.append(cluster.cluster_centers_[item])
big_clusters = np.array(big_clusters)

In [140]:
offices = [[33.751277, -118.188740],
                   [25.867736, -80.324116],
                   [51.503016, -0.075479],
                   [52.378894, 4.885084],
                   [39.366487, 117.036146],
                   [-33.868457, 151.205134]]
offices = np.array(offices)
offices[0]

array([  33.751277, -118.18874 ])

In [174]:
distances = np.zeros((big_clusters.shape[0], offices.shape[0]))
coordinates = np.zeros((big_clusters.shape[0], offices.shape[0], 2))

In [207]:
k = 0
kk = 10**10
i = 0
j = 0
for office in offices:
    for coords in big_clusters:
        distances[j,i] = np.linalg.norm(np.array(office) - np.array(coords))
        coordinates[j,i,:] = coords
        j += 1
        if k < kk:
            kk = k
            nearest = coords
    i += 1
    j = 0

In [208]:
coords

array([ 38.65877915, -76.8856871 ])

In [209]:
offices[0] - big_clusters[0]

array([ -6.9664394 , -44.19690458])

In [210]:
np.ndarray.argmin(distances)

2507

In [211]:
index = np.unravel_index(distances.argmin(), distances.shape)

In [212]:
coordinates[index[0], index[1], :]

array([-33.86063043, 151.20477593])

In [206]:
coordinates[417,5]

array([-33.86063043, 151.20477593])

In [191]:
distances

array([[ 44.74257092,  16.14371999,  74.69906582,  79.73425538,
        191.0327603 , 237.22725876],
       [  6.19395917,  32.5726786 , 113.37331719, 118.41008135,
        229.11470442, 271.67953165],
       [  6.29424146,  32.47447468, 113.2748328 , 118.31160891,
        229.01456477, 271.58164907],
       ...,
       [ 30.76605219,  17.72133043,  88.92117683,  93.94890117,
        205.49405482, 251.2583223 ],
       [ 41.37357142,  13.74564883,  78.07422497,  83.1108233 ,
        194.21830835, 239.80611351],
       [ 41.5935783 ,  13.24513413,  77.87671339,  82.91381403,
        193.92312447, 239.34415107]])