In [28]:
import pandas as pd
import numpy as np
import math
import os
from scipy import stats

In [2]:
df = pd.read_csv('titanic.csv', engine = 'python')

In [3]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [16]:
file = open('answer 1.txt','w')

In [17]:
answer_1 = '{} {}'.format(df['Sex'].value_counts()[0], df['Sex'].value_counts()[1])
answer_1

'577 314'

In [18]:
file.write(answer_1)
file.close()

In [21]:
file = open('answer 2.txt', 'w')
answer_2 = str(round(np.count_nonzero(df['Survived'] == 1)/len(df['Survived'])*100, 2))

In [23]:
file.write(answer_2)
file.close()

In [24]:
file = open('answer 3.txt', 'w')

In [25]:
df['Pclass'].value_counts()

3    491
1    216
2    184
Name: Pclass, dtype: int64

In [26]:
answer_3 = str(round(np.count_nonzero(df['Pclass'] == 1)/len(df['Pclass'])*100, 2))
answer_3

'24.24'

In [27]:
file.write(answer_3)
file.close()

In [31]:
file = open('answer 4.txt', 'w')
answer_4 = '{} {}'.format(np.mean(df['Age'].dropna()), np.median(df['Age'].dropna()))
answer_4
file.write(answer_4)
file.close()

In [117]:
file = open('answer 5.txt', 'w')
answer_5 = stats.pearsonr(df['SibSp'], df['Parch'])[0]
answer_5 = str(answer_5)

In [118]:
file.write(answer_5)
file.close()

In [98]:
df_6 = df['Name'][df['Sex'] == 'female']
x = []
for item in df_6:
    x.append(item.split(','))

In [99]:
x[0]

['Cumings', ' Mrs. John Bradley (Florence Briggs Thayer)']

In [101]:
x_1 = []
for item in x:
    x_1.append(item[1])

[' Mrs. John Bradley (Florence Briggs Thayer)',
 ' Miss. Laina',
 ' Mrs. Jacques Heath (Lily May Peel)',
 ' Mrs. Oscar W (Elisabeth Vilhelmina Berg)',
 ' Mrs. Nicholas (Adele Achem)',
 ' Miss. Marguerite Rut',
 ' Miss. Elizabeth',
 ' Miss. Hulda Amanda Adolfina',
 ' Mrs. (Mary D Kingcome) ',
 ' Mrs. Julius (Emelia Maria Vandemoortele)',
 ' Mrs. Fatima',
 ' Miss. Anna "Annie"',
 ' Miss. Torborg Danira',
 ' Mrs. Carl Oscar (Selma Augusta Emilia Johansson)',
 ' Miss. Ellen "Nellie"',
 ' Mrs. William Augustus (Marie Eugenie)',
 ' Miss. Mary Agatha',
 ' Miss. Augusta Maria',
 ' Miss. Jamila',
 ' Mrs. Johan (Johanna Persdotter Larsson)',
 ' Mrs. William John Robert (Dorothy Ann Wonnacott)',
 ' Miss. Simonne Marie Anne Andree',
 ' Miss. Margaret Delia',
 ' Miss. Bridget',
 ' Mrs. Josef (Josefine Franchi)',
 ' Mrs. Henry Sleeper (Myna Haxtun)',
 ' Mrs. Lizzie (Elizabeth Anne Wilkinson)',
 ' Miss. Emily',
 ' Miss. Constance Mirium',
 ' Miss. Amelie',
 ' Mrs. (Elizabeth Ramell)',
 ' Miss. Erna Alexandra',
 ' Miss. Lillian Amy',
 ' Miss. Elizabeth',
 ' Miss. Brigdet Delia',
 ' Miss. Bertha',
 ' Mrs. Karl Alfred (Maria Mathilda Gustafsson)',
 ' Miss. Mabel Helen',
 ' Mrs. John T (Ada Julia Bone)',
 ' Miss. Matilda',
 ' Miss. Anna Kristine',
 ' Miss. Bertha',
 ' Miss. Hileni',
 ' Miss. Katriina',
 ' Miss. Malake',
 ' Miss. Ellis Anna Maria',
 ' Miss. Susan',
 ' Miss. Anna',
 ' Mrs. Alexander A (Grace Charity Laury)',
 ' Mrs. Leopold (Mathilde Francoise Pede)',
 ' Miss. Helen Monypeny',
 ' Mrs. Joseph (Sultana)',
 ' Miss. Anna Sofia',
 ' Mrs. Pekka Pietari (Elin Matilda Dolck)',
 ' Miss. Robina Maggie "Ruby"',
 ' Mrs. Thomas (Edith Wearne)',
 ' Miss. Katherine "Katie"',
 ' Mrs. James (Elizabeth "Bessie" Inglis Milne)',
 ' Mrs. (Edith Martha Bowerman)',
 ' Mrs. William (Anna Bernhardina Karlsson)',
 ' Miss. Eleanor Ileen',
 ' Miss. Ann Elizabeth',
 ' Miss. Constance Gladys',
 ' Miss. Luise Gretchen',
 ' Mrs. Thomas (Johanna "Hannah" Godfrey)',
 ' Mrs. (Rosa)',
 ' Miss. Carla Christine Nielsine',
 ' Mrs. James Joseph (Margaret Tobin)',
 ' Miss. Elise',
 ' Miss. Margaret "Maggie"',
 ' Miss. Henriette ("Mrs Harbeck")',
 ' Miss. Telma Matilda',
 ' Miss. Helen "Ellen"',
 ' Miss. Clear Annie',
 ' Miss. Madeleine',
 ' Miss. Eliina',
 ' Miss. Albina',
 ' Miss. Mathilde',
 ' Mrs. Henry Birkhardt (Irene Wallach)',
 ' Miss. Lillian Gertrud',
 ' Miss. Alice Phoebe',
 ' Miss. Marjorie "Lottie"',
 ' Miss. Thamine',
 ' Miss. Katherine "Kate"',
 ' Miss. Agda Thorilda Viktoria',
 ' Mrs. William (Anna)',
 ' Mrs. Wilhelm (Elna Matilda Persson)',
 ' Mrs. Viktor (Helena Wilhelmina)',
 ' Mrs. Darwis (Hanne Youssef Razi)',
 ' Mrs. Gertrude Maybelle',
 ' Miss. Gladys',
 ' Miss. Anna',
 ' Mrs. (Lutie Davis)',
 ' Miss. Delia',
 ' Mrs. William Thompson (Edith Junkins)',
 ' Miss. Amelia',
 ' Mrs. (Elizabeth Anne Maidment)',
 ' Miss. Hanora "Nora"',
 ' Miss. Kornelia Theodosia',
 ' Miss. Augusta Charlotta',
 ' Mrs. Stanton (Rosa Hunt)',
 ' Miss. Kate',
 ' Miss. Ellen "Nellie"',
 ' Mrs. Dickinson H (Helen Walton)',
 ' Miss. Aloisia',
 ' Miss. Helen Loraine',
 ' Mrs. James (Helene DeLaudeniere Chaput)',
 ' Miss. Anna Katherine "Annie Kate"',
 ' Miss. Nora A',
 ' Miss. Margaret',
 ' Mrs. Victor de Satode (Maria Josefa Perez de Soto y Vallejo)',
 ' Miss. Laura Mabel',
 ' Miss. Margaret Bechstein',
 ' Miss. Emily Borie',
 ' Mrs. William (Anna Sylfven)',
 ' Miss. Helmina Josefina',
 ' Mrs. Sinai (Miriam Sternin)',
 ' Miss. Mary Natalie',
 ' Mrs. Frederic Oakley (Margaretta Corning Stone)',
 ' Miss. Hilda Mary',
 ' Mrs. Albert Francis (Sylvia Mae Harbaugh)',
 ' Miss. Marie Grice',
 ' Mrs. (Ada E Hall)',
 ' Mrs. Frank John (Emily Alice Brown)',
 ' Miss. Jean Gertrude',
 ' Miss. Agnes',
 ' Mrs. Henry William (Clara Heinsheimer)',
 ' Miss. Elizabeth Margaret',
 ' Miss. Alice Elizabeth',
 ' Miss. Amelia "Mildred"',
 ' Miss. Marion Elsie',
 ' Mrs. Thomas Henry (Mary E Finck)',
 ' Miss. Elsie Edith',
 ' Miss. Annie Clemmer',
 ' Miss. Mary',
 ' Miss. Helen Mary "Ellie"',
 ' Mrs. (Catherine David)',
 ' Mrs. Frank Manley (Anna Sophia Atkinson)',
 ' Mrs. (Mantoura Boulos)',
 ' Miss. Annie',
 ' Mme. Leontine Pauline',
 ' Miss. Stina Viola',
 ' Mrs. Edgar Joseph (Leila Saks)',
 ' Miss. Aurora Adelia',
 ' Miss. Rosalie',
 ' Miss. Maria ("Mary")',
 ' Mrs. Alexander Oskar (Mary Aline Towner)',
 ' Miss. Kate',
 ' Miss. Bertha',
 ' Miss. Marjorie',
 ' Mrs. Hjalmar (Agnes Charlotta Bengtsson)',
 ' Miss. Elina',
 ' Mrs. William H (Jessie L)',
 ' Miss. Mari Aina',
 ' Miss. Marija',
 ' Miss. Ida',
 ' Miss. Daisy E',
 ' Mrs. Thomas (Annie Louise Rowley)',
 ' Mrs. James Vivian (Lulu Thorne Christian)',
 ' Miss. Lyyli Karoliina',
 ' Miss. Catharina',
 ' Mrs. Ernst Gilbert (Anna Sigrid Maria Brogren)',
 ' Mrs. Charles V (Ada Maria Winfield)',
 ' Miss. Kate Florence ("Mrs Kate Louise Phillips Marshall")',
 ' Mrs. Percival (Florence Kate White)',
 ' Mrs. Charles Alexander (Alice Adelaide Slow)',
 ' Miss. Lucile Polk',
 ' Miss. Doolina Margaret "Daisy"',
 ' Mrs. Sidney (Emily Hocking)',
 ' Mrs. Benjamin (Esther Ada Bloomfield)',
 ' Ms. Encarnacion',
 ' Miss. Madeleine Violet',
 ' Miss. Marie Catherine',
 ' Mrs. Frederick R (Marion)',
 ' Miss. Ellen',
 ' Miss. Helene Barbara',
 ' Mrs. Edwy Arthur (Ada Mary Worth)',
 ' Mrs. Amin S (Marie Marthe Thuillard)',
 ' Miss. Ida Sofia',
 ' Miss. Hildur E',
 ' Mrs. (Hedwig)',
 ' Miss. Jeannie',
 ' Mrs. Frederick Maxfield (Jane Anne Forby)',
 ' Miss. Elizabeth Mussey',
 ' Mrs. Hudson J C (Bessie Waldo Daniels)',
 ' Miss. Mary',
 ' Miss. Bridget Mary',
 ' Miss. Kristina Sofia',
 ' Miss. Roberta',
 ' Mrs. Frederick Charles (Jane Richards)',
 ' Mrs. Martin (Elizabeth L. Barrett)',
 ' Mrs. (Amelia Milley)',
 ' Mrs. William A (Florence "Mary" Agnes Hughes)',
 ' Miss. Anne',
 ' Mrs. Louis Albert (Ida Sophia Fischer)',
 ' Miss. Lucy',
 ' Miss. Phyllis May',
 ' Mrs. Catherine (Catherine Rizk)',
 ' Miss. Marija',
 ' Miss. Eva Miriam',
 ' Miss. Bertha',
 ' Miss. Hedwig Margaritha',
 ' Miss. Harriet R',
 ' Miss. Ingeborg Constanzia',
 ' Miss. Sigrid Elisabeth',
 ' Mrs. Edward (Ethel Clarke)',
 ' Miss. Velin',
 ' Lady. (Lucille Christiana Sutherland) ("Mrs Morgan")',
 ' Mrs. Emil (Tillie Mandelbaum)',
 ' Mrs. Guillaume Joseph (Emma)',
 ' Miss. (Marion Ogden)',
 ' Mrs. Nils (Alma Cornelia Berglund)',
 ' Mrs. Edward Dale (Charlotte Lamson)',
 ' Miss. Mary',
 ' Miss. Ethel',
 ' Mrs. William Baird (Alice Munger)',
 ' Mrs. Joseph (Maria Elias)',
 ' Miss. Julie Rachel',
 ' Mrs. John Borland (Marian Longstreth Morris)',
 ' Miss. Ruth',
 ' Mrs. Walter Bertram (Martha Eustis)',
 ' Miss. Mary',
 ' Miss. Jessie Wills',
 ' Mrs. Sidney Samuel (Amy Frances Christy)',
 ' Mrs. Joseph (Juliette Marie Louise Lafargue)',
 ' Miss. Elizabeth W',
 ' Mrs. Anders Johan (Alfrida Konstantia Brogren)',
 ' Miss. Margaret Jane',
 ' Miss. Alice',
 ' Mrs. William Arthur (Cordelia K Stanlick)',
 ' Miss. Marion Louise',
 ' Miss. Gretchen Fiske',
 ' Miss. Mabel',
 ' Miss. Mary',
 ' Mrs. Juha (Maria Emilia Ojala)',
 ' Mlle. Emma',
 ' Miss. Margit Elizabeth',
 ' Miss. Eugenie',
 ' Miss. Amy Zillah Elsie',
 ' Miss. Elsie',
 ' Miss. Hanora "Norah"',
 ' Miss. Hanora "Nora"',
 ' Mrs. John (Catherine)',
 ' Mrs. Elmer Zebley (Juliet Cummins Wright)',
 ' Mrs. Thomas William Solomon (Elizabeth Catherine Ford)',
 ' Miss. Anna Sofia',
 ' Mrs. Frederick (Augusta Tyler)',
 ' Miss. Katie',
 ' Miss. Georgette Alexandra',
 ' Miss. Manca',
 ' Miss. Katherine "Katie"',
 ' Mrs. John Jacob (Madeleine Talmadge Force)',
 ' Miss. Saiide',
 ' Mrs. Florence "Fannie"',
 ' Miss. Alice',
 ' Mlle. Berthe Antonine ("Mrs de Villiers")',
 ' Miss. Caroline Louise',
 ' Miss. Edwina Celia "Winnie"',
 ' Miss. Annie Jessie "Nina"',
 ' Mrs. Peter Henry (Lillian Jefferys)',
 ' Miss. Margareth',
 ' Miss. Pieta Sofia',
 ' Miss. Elisabeth Walton',
 ' Mrs. Edward (Margaret Ann Watson)',
 ' Miss. Susan Parker "Suzette"',
 ' Miss. Anna',
 ' Miss. Joan',
 ' Mrs. Samuel (Jane Laver)',
 ' the Countess. of (Lucy Noel Martha Dyer-Edwards)',
 ' Mrs. William Ernest (Lucile Polk)',
 ' Mrs. John C (Anna Andrews)',
 ' Miss. Mary',
 ' Mrs. (Mary)',
 ' Mrs. Elizabeth (Eliza Needs)',
 ' Miss. Virginia Ethel',
 ' Mrs. Edward Scott (Elisabeth Walton McMillan)',
 ' Miss. Banoura',
 ' Mrs. Albert Adrian (Vera Gillespie)',
 ' Miss. Anna Sofia',
 ' Miss. Stella Anna',
 ' Dr. Alice (Farnham)',
 ' Mrs. Mara',
 ' Mrs. Jean Baptiste (Rosalie Paula Govaert)',
 ' Mrs. Harvey (Charlotte Annie Tate)',
 ' Miss. Ellen Natalia',
 ' Mrs. Norman Campbell (Bertha Griggs)',
 ' Miss. Ebba Iris Alfrida',
 ' Miss. Wendla Maria',
 ' Mrs. Charles Melville (Clara Jennings Gregg)',
 ' Mrs. (Beila)',
 ' Mrs. George Nelson (Martha Evelyn)',
 ' Mrs. Antoni (Selini Alexander)',
 ' Miss. Sara Rebecca',
 ' Miss. Augusta',
 ' Mrs. Samuel L (Edwiga Grabowska)',
 ' Miss. Nourelain',
 ' Miss. Mary Conover',
 ' Mrs. Ernest Courtenay (Lilian Hughes)',
 ' Mrs. Sam (Leah Rosen)',
 ' Mrs. George Dennick (Mary Hitchcock)',
 ' Mrs. Solomon (Latifa Qurban)',
 ' Mrs. Frederick Joel (Margaret Welles Barron)',
 ' Miss. Dorothy Edith "Dolly"',
 ' Mrs. (Karolina)',
 ' Miss. Asuncion',
 ' Mrs. Richard Leonard (Sallie Monypeny)',
 ' Mrs. Samuel (Hannah Wizosky)',
 ' Miss. Adele Kiamie "Jane"',
 ' Mrs. Thomas Jr (Lily Alexenia Wilson)',
 ' Mrs. William (Imanita Parrish Hall)',
 ' Miss. Gerda Ulrika',
 ' Mrs. William (Margaret Norton)',
 ' Miss. Margaret Edith',
 ' Miss. Catherine Helen "Carrie"']

In [111]:
x_2 = []

for item in x_1:
    
    print(item)
    if 'Mrs' in item:
        
        item = item.split('. ')[1]
        
        if '(' in item:
            
            item = item.split('(')[1]
            item = item.split(' ')[0]
        
        else:
        
            item = item.split(' ')[0]
        
        item = item.replace(')', '')
        
        x_2.append(item)
        
    if 'Miss' in item:
        
        item = item.split('. ')[1]
        item = item.split(' ')[0]
        x_2.append(item)

 Mrs. John Bradley (Florence Briggs Thayer)
 Miss. Laina
 Mrs. Jacques Heath (Lily May Peel)
 Mrs. Oscar W (Elisabeth Vilhelmina Berg)
 Mrs. Nicholas (Adele Achem)
 Miss. Marguerite Rut
 Miss. Elizabeth
 Miss. Hulda Amanda Adolfina
 Mrs. (Mary D Kingcome)
 Mrs. Julius (Emelia Maria Vandemoortele)
 Mrs. Fatima
 Miss. Anna "Annie"
 Miss. Torborg Danira
 Mrs. Carl Oscar (Selma Augusta Emilia Johansson)
 Miss. Ellen "Nellie"
 Mrs. William Augustus (Marie Eugenie)
 Miss. Mary Agatha
 Miss. Augusta Maria
 Miss. Jamila
 Mrs. Johan (Johanna Persdotter Larsson)
 Mrs. William John Robert (Dorothy Ann Wonnacott)
 Miss. Simonne Marie Anne Andree
 Miss. Margaret Delia
 Miss. Bridget
 Mrs. Josef (Josefine Franchi)
 Mrs. Henry Sleeper (Myna Haxtun)
 Mrs. Lizzie (Elizabeth Anne Wilkinson)
 Miss. Emily
 Miss. Constance Mirium
 Miss. Amelie
 Mrs. (Elizabeth Ramell)
 Miss. Erna Alexandra
 Miss. Lillian Amy
 Miss. Elizabeth
 Miss. Brigdet Delia
 Miss. Bertha
 Mrs. Karl Alfred (Maria Mathilda Gustafsson)
 Miss. Mabel Helen
 Mrs. John T (Ada Julia Bone)
 Miss. Matilda
 Miss. Anna Kristine
 Miss. Bertha
 Miss. Hileni
 Miss. Katriina
 Miss. Malake
 Miss. Ellis Anna Maria
 Miss. Susan
 Miss. Anna
 Mrs. Alexander A (Grace Charity Laury)
 Mrs. Leopold (Mathilde Francoise Pede)
 Miss. Helen Monypeny
 Mrs. Joseph (Sultana)
 Miss. Anna Sofia
 Mrs. Pekka Pietari (Elin Matilda Dolck)
 Miss. Robina Maggie "Ruby"
 Mrs. Thomas (Edith Wearne)
 Miss. Katherine "Katie"
 Mrs. James (Elizabeth "Bessie" Inglis Milne)
 Mrs. (Edith Martha Bowerman)
 Mrs. William (Anna Bernhardina Karlsson)
 Miss. Eleanor Ileen
 Miss. Ann Elizabeth
 Miss. Constance Gladys
 Miss. Luise Gretchen
 Mrs. Thomas (Johanna "Hannah" Godfrey)
 Mrs. (Rosa)
 Miss. Carla Christine Nielsine
 Mrs. James Joseph (Margaret Tobin)
 Miss. Elise
 Miss. Margaret "Maggie"
 Miss. Henriette ("Mrs Harbeck")
 Miss. Telma Matilda
 Miss. Helen "Ellen"
 Miss. Clear Annie
 Miss. Madeleine
 Miss. Eliina
 Miss. Albina
 Miss. Mathilde
 Mrs. Henry Birkhardt (Irene Wallach)
 Miss. Lillian Gertrud
 Miss. Alice Phoebe
 Miss. Marjorie "Lottie"
 Miss. Thamine
 Miss. Katherine "Kate"
 Miss. Agda Thorilda Viktoria
 Mrs. William (Anna)
 Mrs. Wilhelm (Elna Matilda Persson)
 Mrs. Viktor (Helena Wilhelmina)
 Mrs. Darwis (Hanne Youssef Razi)
 Mrs. Gertrude Maybelle
 Miss. Gladys
 Miss. Anna
 Mrs. (Lutie Davis)
 Miss. Delia
 Mrs. William Thompson (Edith Junkins)
 Miss. Amelia
 Mrs. (Elizabeth Anne Maidment)
 Miss. Hanora "Nora"
 Miss. Kornelia Theodosia
 Miss. Augusta Charlotta
 Mrs. Stanton (Rosa Hunt)
 Miss. Kate
 Miss. Ellen "Nellie"
 Mrs. Dickinson H (Helen Walton)
 Miss. Aloisia
 Miss. Helen Loraine
 Mrs. James (Helene DeLaudeniere Chaput)
 Miss. Anna Katherine "Annie Kate"
 Miss. Nora A
 Miss. Margaret
 Mrs. Victor de Satode (Maria Josefa Perez de Soto y Vallejo)
 Miss. Laura Mabel
 Miss. Margaret Bechstein
 Miss. Emily Borie
 Mrs. William (Anna Sylfven)
 Miss. Helmina Josefina
 Mrs. Sinai (Miriam Sternin)
 Miss. Mary Natalie
 Mrs. Frederic Oakley (Margaretta Corning Stone)
 Miss. Hilda Mary
 Mrs. Albert Francis (Sylvia Mae Harbaugh)
 Miss. Marie Grice
 Mrs. (Ada E Hall)
 Mrs. Frank John (Emily Alice Brown)
 Miss. Jean Gertrude
 Miss. Agnes
 Mrs. Henry William (Clara Heinsheimer)
 Miss. Elizabeth Margaret
 Miss. Alice Elizabeth
 Miss. Amelia "Mildred"
 Miss. Marion Elsie
 Mrs. Thomas Henry (Mary E Finck)
 Miss. Elsie Edith
 Miss. Annie Clemmer
 Miss. Mary
 Miss. Helen Mary "Ellie"
 Mrs. (Catherine David)
 Mrs. Frank Manley (Anna Sophia Atkinson)
 Mrs. (Mantoura Boulos)
 Miss. Annie
 Mme. Leontine Pauline
 Miss. Stina Viola
 Mrs. Edgar Joseph (Leila Saks)
 Miss. Aurora Adelia
 Miss. Rosalie
 Miss. Maria ("Mary")
 Mrs. Alexander Oskar (Mary Aline Towner)
 Miss. Kate
 Miss. Bertha
 Miss. Marjorie
 Mrs. Hjalmar (Agnes Charlotta Bengtsson)
 Miss. Elina
 Mrs. William H (Jessie L)
 Miss. Mari Aina
 Miss. Marija
 Miss. Ida
 Miss. Daisy E
 Mrs. Thomas (Annie Louise Rowley)
 Mrs. James Vivian (Lulu Thorne Christian)
 Miss. Lyyli Karoliina
 Miss. Catharina
 Mrs. Ernst Gilbert (Anna Sigrid Maria Brogren)
 Mrs. Charles V (Ada Maria Winfield)
 Miss. Kate Florence ("Mrs Kate Louise Phillips Marshall")
 Mrs. Percival (Florence Kate White)
 Mrs. Charles Alexander (Alice Adelaide Slow)
 Miss. Lucile Polk
 Miss. Doolina Margaret "Daisy"
 Mrs. Sidney (Emily Hocking)
 Mrs. Benjamin (Esther Ada Bloomfield)
 Ms. Encarnacion
 Miss. Madeleine Violet
 Miss. Marie Catherine
 Mrs. Frederick R (Marion)
 Miss. Ellen
 Miss. Helene Barbara
 Mrs. Edwy Arthur (Ada Mary Worth)
 Mrs. Amin S (Marie Marthe Thuillard)
 Miss. Ida Sofia
 Miss. Hildur E
 Mrs. (Hedwig)
 Miss. Jeannie
 Mrs. Frederick Maxfield (Jane Anne Forby)
 Miss. Elizabeth Mussey
 Mrs. Hudson J C (Bessie Waldo Daniels)
 Miss. Mary
 Miss. Bridget Mary
 Miss. Kristina Sofia
 Miss. Roberta
 Mrs. Frederick Charles (Jane Richards)
 Mrs. Martin (Elizabeth L. Barrett)
 Mrs. (Amelia Milley)
 Mrs. William A (Florence "Mary" Agnes Hughes)
 Miss. Anne
 Mrs. Louis Albert (Ida Sophia Fischer)
 Miss. Lucy
 Miss. Phyllis May
 Mrs. Catherine (Catherine Rizk)
 Miss. Marija
 Miss. Eva Miriam
 Miss. Bertha
 Miss. Hedwig Margaritha
 Miss. Harriet R
 Miss. Ingeborg Constanzia
 Miss. Sigrid Elisabeth
 Mrs. Edward (Ethel Clarke)
 Miss. Velin
 Lady. (Lucille Christiana Sutherland) ("Mrs Morgan")
 Mrs. Emil (Tillie Mandelbaum)
 Mrs. Guillaume Joseph (Emma)
 Miss. (Marion Ogden)
 Mrs. Nils (Alma Cornelia Berglund)
 Mrs. Edward Dale (Charlotte Lamson)
 Miss. Mary
 Miss. Ethel
 Mrs. William Baird (Alice Munger)
 Mrs. Joseph (Maria Elias)
 Miss. Julie Rachel
 Mrs. John Borland (Marian Longstreth Morris)
 Miss. Ruth
 Mrs. Walter Bertram (Martha Eustis)
 Miss. Mary
 Miss. Jessie Wills
 Mrs. Sidney Samuel (Amy Frances Christy)
 Mrs. Joseph (Juliette Marie Louise Lafargue)
 Miss. Elizabeth W
 Mrs. Anders Johan (Alfrida Konstantia Brogren)
 Miss. Margaret Jane
 Miss. Alice
 Mrs. William Arthur (Cordelia K Stanlick)
 Miss. Marion Louise
 Miss. Gretchen Fiske
 Miss. Mabel
 Miss. Mary
 Mrs. Juha (Maria Emilia Ojala)
 Mlle. Emma
 Miss. Margit Elizabeth
 Miss. Eugenie
 Miss. Amy Zillah Elsie
 Miss. Elsie
 Miss. Hanora "Norah"
 Miss. Hanora "Nora"
 Mrs. John (Catherine)
 Mrs. Elmer Zebley (Juliet Cummins Wright)
 Mrs. Thomas William Solomon (Elizabeth Catherine Ford)
 Miss. Anna Sofia
 Mrs. Frederick (Augusta Tyler)
 Miss. Katie
 Miss. Georgette Alexandra
 Miss. Manca
 Miss. Katherine "Katie"
 Mrs. John Jacob (Madeleine Talmadge Force)
 Miss. Saiide
 Mrs. Florence "Fannie"
 Miss. Alice
 Mlle. Berthe Antonine ("Mrs de Villiers")
 Miss. Caroline Louise
 Miss. Edwina Celia "Winnie"
 Miss. Annie Jessie "Nina"
 Mrs. Peter Henry (Lillian Jefferys)
 Miss. Margareth
 Miss. Pieta Sofia
 Miss. Elisabeth Walton
 Mrs. Edward (Margaret Ann Watson)
 Miss. Susan Parker "Suzette"
 Miss. Anna
 Miss. Joan
 Mrs. Samuel (Jane Laver)
 the Countess. of (Lucy Noel Martha Dyer-Edwards)
 Mrs. William Ernest (Lucile Polk)
 Mrs. John C (Anna Andrews)
 Miss. Mary
 Mrs. (Mary)
 Mrs. Elizabeth (Eliza Needs)
 Miss. Virginia Ethel
 Mrs. Edward Scott (Elisabeth Walton McMillan)
 Miss. Banoura
 Mrs. Albert Adrian (Vera Gillespie)
 Miss. Anna Sofia
 Miss. Stella Anna
 Dr. Alice (Farnham)
 Mrs. Mara
 Mrs. Jean Baptiste (Rosalie Paula Govaert)
 Mrs. Harvey (Charlotte Annie Tate)
 Miss. Ellen Natalia
 Mrs. Norman Campbell (Bertha Griggs)
 Miss. Ebba Iris Alfrida
 Miss. Wendla Maria
 Mrs. Charles Melville (Clara Jennings Gregg)
 Mrs. (Beila)
 Mrs. George Nelson (Martha Evelyn)
 Mrs. Antoni (Selini Alexander)
 Miss. Sara Rebecca
 Miss. Augusta
 Mrs. Samuel L (Edwiga Grabowska)
 Miss. Nourelain
 Miss. Mary Conover
 Mrs. Ernest Courtenay (Lilian Hughes)
 Mrs. Sam (Leah Rosen)
 Mrs. George Dennick (Mary Hitchcock)
 Mrs. Solomon (Latifa Qurban)
 Mrs. Frederick Joel (Margaret Welles Barron)
 Miss. Dorothy Edith "Dolly"
 Mrs. (Karolina)
 Miss. Asuncion
 Mrs. Richard Leonard (Sallie Monypeny)
 Mrs. Samuel (Hannah Wizosky)
 Miss. Adele Kiamie "Jane"
 Mrs. Thomas Jr (Lily Alexenia Wilson)
 Mrs. William (Imanita Parrish Hall)
 Miss. Gerda Ulrika
 Mrs. William (Margaret Norton)
 Miss. Margaret Edith
 Miss. Catherine Helen "Carrie"

In [65]:
x_3 = []
for item in x_2:
    x_3.append(item.split(' ')[0])

In [66]:
len(np.unique(x_3))

203

In [70]:
x_3

['John',
 'Laina',
 'Jacques',
 'Oscar',
 'Nicholas',
 'Marguerite',
 'Elizabeth',
 'Hulda',
 '(Mary',
 'Julius',
 'Fatima',
 'Anna',
 'Torborg',
 'Carl',
 'Ellen',
 'William',
 'Mary',
 'Augusta',
 'Jamila',
 'Johan',
 'William',
 'Simonne',
 'Margaret',
 'Bridget',
 'Josef',
 'Henry',
 'Lizzie',
 'Emily',
 'Constance',
 'Amelie',
 '(Elizabeth',
 'Erna',
 'Lillian',
 'Elizabeth',
 'Brigdet',
 'Bertha',
 'Karl',
 'Mabel',
 'John',
 'Matilda',
 'Anna',
 'Bertha',
 'Hileni',
 'Katriina',
 'Malake',
 'Ellis',
 'Susan',
 'Anna',
 'Alexander',
 'Leopold',
 'Helen',
 'Joseph',
 'Anna',
 'Pekka',
 'Robina',
 'Thomas',
 'Katherine',
 'James',
 '(Edith',
 'William',
 'Eleanor',
 'Ann',
 'Constance',
 'Luise',
 'Thomas',
 '(Rosa)',
 'Carla',
 'James',
 'Elise',
 'Margaret',
 'Henriette',
 'Telma',
 'Helen',
 'Clear',
 'Madeleine',
 'Eliina',
 'Albina',
 'Mathilde',
 'Henry',
 'Lillian',
 'Alice',
 'Marjorie',
 'Thamine',
 'Katherine',
 'Agda',
 'William',
 'Wilhelm',
 'Viktor',
 'Darwis',
 'Gertrude',
 'Gladys',
 'Anna',
 '(Lutie',
 'Delia',
 'William',
 'Amelia',
 '(Elizabeth',
 'Hanora',
 'Kornelia',
 'Augusta',
 'Stanton',
 'Kate',
 'Ellen',
 'Dickinson',
 'Aloisia',
 'Helen',
 'James',
 'Anna',
 'Nora',
 'Margaret',
 'Victor',
 'Laura',
 'Margaret',
 'Emily',
 'William',
 'Helmina',
 'Sinai',
 'Mary',
 'Frederic',
 'Hilda',
 'Albert',
 'Marie',
 '(Ada',
 'Frank',
 'Jean',
 'Agnes',
 'Henry',
 'Elizabeth',
 'Alice',
 'Amelia',
 'Marion',
 'Thomas',
 'Elsie',
 'Annie',
 'Mary',
 'Helen',
 '(Catherine',
 'Frank',
 '(Mantoura',
 'Annie',
 'Leontine',
 'Stina',
 'Edgar',
 'Aurora',
 'Rosalie',
 'Maria',
 'Alexander',
 'Kate',
 'Bertha',
 'Marjorie',
 'Hjalmar',
 'Elina',
 'William',
 'Mari',
 'Marija',
 'Ida',
 'Daisy',
 'Thomas',
 'James',
 'Lyyli',
 'Catharina',
 'Ernst',
 'Charles',
 'Kate',
 'Percival',
 'Charles',
 'Lucile',
 'Doolina',
 'Sidney',
 'Benjamin',
 'Encarnacion',
 'Madeleine',
 'Marie',
 'Frederick',
 'Ellen',
 'Helene',
 'Edwy',
 'Amin',
 'Ida',
 'Hildur',
 '(Hedwig)',
 'Jeannie',
 'Frederick',
 'Elizabeth',
 'Hudson',
 'Mary',
 'Bridget',
 'Kristina',
 'Roberta',
 'Frederick',
 'Martin',
 '(Amelia',
 'William',
 'Anne',
 'Louis',
 'Lucy',
 'Phyllis',
 'Catherine',
 'Marija',
 'Eva',
 'Bertha',
 'Hedwig',
 'Harriet',
 'Ingeborg',
 'Sigrid',
 'Edward',
 'Velin',
 '(Lucille',
 'Emil',
 'Guillaume',
 '(Marion',
 'Nils',
 'Edward',
 'Mary',
 'Ethel',
 'William',
 'Joseph',
 'Julie',
 'John',
 'Ruth',
 'Walter',
 'Mary',
 'Jessie',
 'Sidney',
 'Joseph',
 'Elizabeth',
 'Anders',
 'Margaret',
 'Alice',
 'William',
 'Marion',
 'Gretchen',
 'Mabel',
 'Mary',
 'Juha',
 'Emma',
 'Margit',
 'Eugenie',
 'Amy',
 'Elsie',
 'Hanora',
 'Hanora',
 'John',
 'Elmer',
 'Thomas',
 'Anna',
 'Frederick',
 'Katie',
 'Georgette',
 'Manca',
 'Katherine',
 'John',
 'Saiide',
 'Florence',
 'Alice',
 'Berthe',
 'Caroline',
 'Edwina',
 'Annie',
 'Peter',
 'Margareth',
 'Pieta',
 'Elisabeth',
 'Edward',
 'Susan',
 'Anna',
 'Joan',
 'Samuel',
 'of',
 'William',
 'John',
 'Mary',
 '(Mary)',
 'Elizabeth',
 'Virginia',
 'Edward',
 'Banoura',
 'Albert',
 'Anna',
 'Stella',
 'Alice',
 'Mara',
 'Jean',
 'Harvey',
 'Ellen',
 'Norman',
 'Ebba',
 'Wendla',
 'Charles',
 '(Beila)',
 'George',
 'Antoni',
 'Sara',
 'Augusta',
 'Samuel',
 'Nourelain',
 'Mary',
 'Ernest',
 'Sam',
 'George',
 'Solomon',
 'Frederick',
 'Dorothy',
 '(Karolina)',
 'Asuncion',
 'Richard',
 'Samuel',
 'Adele',
 'Thomas',
 'William',
 'Gerda',
 'William',
 'Margaret',
 'Catherine']

In [86]:
x_4 = []
for item in x_3:
    item = item.replace('(', '')
    item = item.replace(')', '')
    x_4.append(item)

In [87]:
np.unique(x_4)

array(['Ada', 'Adele', 'Agda', 'Agnes', 'Albert', 'Albina', 'Alexander',
       'Alice', 'Aloisia', 'Amelia', 'Amelie', 'Amin', 'Amy', 'Anders',
       'Ann', 'Anna', 'Anne', 'Annie', 'Antoni', 'Asuncion', 'Augusta',
       'Aurora', 'Banoura', 'Beila', 'Benjamin', 'Bertha', 'Berthe',
       'Bridget', 'Brigdet', 'Carl', 'Carla', 'Caroline', 'Catharina',
       'Catherine', 'Charles', 'Clear', 'Constance', 'Daisy', 'Darwis',
       'Delia', 'Dickinson', 'Doolina', 'Dorothy', 'Ebba', 'Edgar',
       'Edith', 'Edward', 'Edwina', 'Edwy', 'Eleanor', 'Eliina', 'Elina',
       'Elisabeth', 'Elise', 'Elizabeth', 'Ellen', 'Ellis', 'Elmer',
       'Elsie', 'Emil', 'Emily', 'Emma', 'Encarnacion', 'Erna', 'Ernest',
       'Ernst', 'Ethel', 'Eugenie', 'Eva', 'Fatima', 'Florence', 'Frank',
       'Frederic', 'Frederick', 'George', 'Georgette', 'Gerda',
       'Gertrude', 'Gladys', 'Gretchen', 'Guillaume', 'Hanora', 'Harriet',
       'Harvey', 'Hedwig', 'Helen', 'Helene', 'Helmina', 'Henriette',
       'Henry', 'Hilda', 'Hildur', 'Hileni', 'Hjalmar', 'Hudson', 'Hulda',
       'Ida', 'Ingeborg', 'Jacques', 'James', 'Jamila', 'Jean', 'Jeannie',
       'Jessie', 'Joan', 'Johan', 'John', 'Josef', 'Joseph', 'Juha',
       'Julie', 'Julius', 'Karl', 'Karolina', 'Kate', 'Katherine',
       'Katie', 'Katriina', 'Kornelia', 'Kristina', 'Laina', 'Laura',
       'Leontine', 'Leopold', 'Lillian', 'Lizzie', 'Louis', 'Lucile',
       'Lucille', 'Lucy', 'Luise', 'Lutie', 'Lyyli', 'Mabel', 'Madeleine',
       'Malake', 'Manca', 'Mantoura', 'Mara', 'Margaret', 'Margareth',
       'Margit', 'Marguerite', 'Mari', 'Maria', 'Marie', 'Marija',
       'Marion', 'Marjorie', 'Martin', 'Mary', 'Mathilde', 'Matilda',
       'Nicholas', 'Nils', 'Nora', 'Norman', 'Nourelain', 'Oscar',
       'Pekka', 'Percival', 'Peter', 'Phyllis', 'Pieta', 'Richard',
       'Roberta', 'Robina', 'Rosa', 'Rosalie', 'Ruth', 'Saiide', 'Sam',
       'Samuel', 'Sara', 'Sidney', 'Sigrid', 'Simonne', 'Sinai',
       'Solomon', 'Stanton', 'Stella', 'Stina', 'Susan', 'Telma',
       'Thamine', 'Thomas', 'Torborg', 'Velin', 'Victor', 'Viktor',
       'Virginia', 'Walter', 'Wendla', 'Wilhelm', 'William', 'of'],
      dtype='<U11')

In [112]:
a = np.unique(x_2, return_counts = True)

In [113]:
a[0][np.argmax(a[1])]

'Anna'

In [96]:
df_test = df[['Sex', 'Name']][df['Sex'] == 'female']

In [97]:
df_test

        Sex                                               Name
1    female  Cumings, Mrs. John Bradley (Florence Briggs Th...
2    female                             Heikkinen, Miss. Laina
3    female       Futrelle, Mrs. Jacques Heath (Lily May Peel)
8    female  Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
9    female                Nasser, Mrs. Nicholas (Adele Achem)
..      ...                                                ...
880  female       Shelley, Mrs. William (Imanita Parrish Hall)
882  female                       Dahlberg, Miss. Gerda Ulrika
885  female               Rice, Mrs. William (Margaret Norton)
887  female                       Graham, Miss. Margaret Edith
888  female           Johnston, Miss. Catherine Helen "Carrie"

[314 rows x 2 columns]

In [114]:
a

(array(['"Mrs', '(Marion', 'Ada', 'Adele', 'Agda', 'Agnes', 'Albina',
        'Alfrida', 'Alice', 'Alma', 'Aloisia', 'Amelia', 'Amelie', 'Amy',
        'Ann', 'Anna', 'Anne', 'Annie', 'Asuncion', 'Augusta', 'Aurora',
        'Banoura', 'Beila', 'Bertha', 'Bessie', 'Bridget', 'Brigdet',
        'Carla', 'Caroline', 'Catharina', 'Catherine', 'Charlotte',
        'Clara', 'Clear', 'Constance', 'Cordelia', 'Daisy', 'Delia',
        'Doolina', 'Dorothy', 'Ebba', 'Edith', 'Edwiga', 'Edwina',
        'Eleanor', 'Eliina', 'Elin', 'Elina', 'Elisabeth', 'Elise',
        'Eliza', 'Elizabeth', 'Ellen', 'Ellis', 'Elna', 'Elsie', 'Emelia',
        'Emily', 'Emma', 'Erna', 'Esther', 'Ethel', 'Eugenie', 'Eva',
        'Fatima', 'Florence', 'Georgette', 'Gerda', 'Gertrude', 'Gladys',
        'Grace', 'Gretchen', 'Hannah', 'Hanne', 'Hanora', 'Harriet',
        'Hedwig', 'Helen', 'Helena', 'Helene', 'Helmina', 'Hilda',
        'Hildur', 'Hileni', 'Hulda', 'Ida', 'Imanita', 'Ingeborg', 'Irene',
        'Jamila', 'Jane', 'Jean', 'Jeannie', 'Jessie', 'Joan', 'Johanna',
        'Josefine', 'Julie', 'Juliet', 'Juliette', 'Karolina', 'Kate',
        'Katherine', 'Katie', 'Katriina', 'Kornelia', 'Kristina', 'Laina',
        'Latifa', 'Laura', 'Leah', 'Leila', 'Lilian', 'Lillian', 'Lily',
        'Lucile', 'Lucille', 'Lucy', 'Luise', 'Lulu', 'Lutie', 'Lyyli',
        'Mabel', 'Madeleine', 'Malake', 'Manca', 'Mantoura', 'Mara',
        'Margaret', 'Margareth', 'Margaretta', 'Margit', 'Marguerite',
        'Mari', 'Maria', 'Marian', 'Marie', 'Marija', 'Marion', 'Marjorie',
        'Martha', 'Mary', 'Mathilde', 'Matilda', 'Miriam', 'Myna', 'Nora',
        'Nourelain', 'Phyllis', 'Pieta', 'Roberta', 'Robina', 'Rosa',
        'Rosalie', 'Ruth', 'Saiide', 'Sallie', 'Sara', 'Selini', 'Selma',
        'Sigrid', 'Simonne', 'Stella', 'Stina', 'Sultana', 'Susan',
        'Sylvia', 'Telma', 'Thamine', 'Tillie', 'Torborg', 'Velin', 'Vera',
        'Virginia', 'Wendla'], dtype='<U10'),
 array([ 3,  1,  4,  2,  1,  2,  1,  1,  6,  1,  1,  3,  1,  2,  1, 15,  1,
         4,  1,  4,  1,  1,  1,  5,  1,  2,  1,  1,  1,  1,  4,  2,  2,  1,
         2,  1,  1,  1,  1,  2,  1,  3,  1,  1,  1,  1,  1,  1,  3,  1,  1,
        11,  4,  1,  1,  2,  1,  4,  1,  1,  1,  2,  1,  1,  1,  4,  1,  1,
         1,  1,  1,  1,  1,  1,  3,  1,  2,  5,  1,  2,  1,  1,  1,  1,  1,
         3,  1,  1,  1,  1,  3,  1,  1,  2,  1,  2,  1,  1,  1,  1,  1,  2,
         3,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  3,  2,  2,  1,  1,  1,
         1,  1,  1,  2,  3,  1,  1,  1,  1, 10,  1,  1,  1,  1,  1,  5,  1,
         4,  2,  3,  2,  2, 14,  2,  1,  1,  1,  1,  1,  1,  1,  1,  1,  2,
         2,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  2,  1,  1,  1,  1,
         1,  1,  1,  1,  1], dtype=int64))

In [116]:
file = open('asnwer 6.txt', 'w')
file.write('Anna')
file.close()