In [1]:
import numpy as np
import pandas as pd
from sklearn import *
import math

In [4]:
data_class = pd.read_csv('classification.csv', engine = 'python')

In [5]:
data_class

     true  pred
0       1     0
1       1     1
2       1     1
3       0     0
4       1     1
..    ...   ...
195     0     0
196     0     0
197     1     0
198     0     1
199     0     0

[200 rows x 2 columns]

In [10]:
TP, FP, FN, TN = 0,0,0,0

for true, pred in zip(data_class['true'], data_class['pred']):
    
    if true == 1 and pred == 1:
        
        TP += 1
        
    if true == 0 and pred == 0:
        
        TN += 1
    
    if true == 1 and pred == 0:
        
        FN += 1
        
    if true == 0 and pred == 1:
        
        FP += 1

In [11]:
file = open('answer_4_1.txt', 'w')
file.write('{} {} {} {}'.format(TP, FP, FN, TN))
file.close()

In [12]:
accuracy = metrics.accuracy_score(data_class['true'], data_class['pred'])
precision = metrics.precision_score(data_class['true'], data_class['pred'])
recall = metrics.recall_score(data_class['true'], data_class['pred'])
f1 = metrics.f1_score(data_class['true'], data_class['pred'])
file = open('answer_4_2.txt', 'w')
file.write('{} {} {} {}'.format(accuracy, precision, recall, f1))
file.close()

In [14]:
data_score = pd.read_csv('scores.csv', engine = 'python')

In [15]:
data_score

     true  score_logreg  score_svm  score_knn  score_tree
0       0      0.683832   0.145976   0.787063    0.500000
1       1      0.801966   0.239511   1.000000    0.833333
2       0      0.382315  -0.245701   0.000000    0.000000
3       1      0.506797  -0.137058   0.000000    0.105263
4       1      0.488781  -0.154148   0.000000    0.105263
..    ...           ...        ...        ...         ...
195     0      0.573801  -0.088203   0.284192    0.400000
196     0      0.624422  -0.012315   0.205437    0.400000
197     1      0.425538  -0.135673   0.382351    0.700000
198     0      0.905270   0.583806   1.000000    1.000000
199     0      0.275594  -0.422160   0.743567    0.642857

[200 rows x 5 columns]

In [16]:
roc1 = metrics.roc_auc_score(data_score['true'], data_score['score_logreg'])
roc2 = metrics.roc_auc_score(data_score['true'], data_score['score_svm'])
roc3 = metrics.roc_auc_score(data_score['true'], data_score['score_knn'])
roc4 = metrics.roc_auc_score(data_score['true'], data_score['score_tree'])

In [33]:
file = open('answer_4_3.txt', 'w')
file.write('score_logreg')
file.close()

In [34]:
pr1, rec1, thr1 = metrics.precision_recall_curve(data_score['true'], data_score['score_logreg'])
pr2, rec2, thr2 = metrics.precision_recall_curve(data_score['true'], data_score['score_svm'])
pr3, rec3, thr3 = metrics.precision_recall_curve(data_score['true'], data_score['score_knn'])
pr4, rec4, thr4 = metrics.precision_recall_curve(data_score['true'], data_score['score_tree'])

In [42]:
pr11 = np.max(pr1[rec1 >= 0.7])
pr22 = np.max(pr2[rec2 >= 0.7])
pr33 = np.max(pr3[rec3 >= 0.7])
pr44 = np.max(pr4[rec4 >= 0.7])

In [49]:
file = open('answer_4_4.txt', 'w')
file.write('score_tree')
file.close()

In [44]:
pr11, pr22, pr33, pr44

(0.6302521008403361,
 0.6228070175438597,
 0.6065573770491803,
 0.6517857142857143)

In [37]:
pr1

array([0.49746193, 0.49489796, 0.49230769, 0.49484536, 0.49740933,
       0.49479167, 0.4973822 , 0.49473684, 0.4973545 , 0.5       ,
       0.5026738 , 0.5       , 0.4972973 , 0.5       , 0.50273224,
       0.50549451, 0.50828729, 0.51111111, 0.51396648, 0.51685393,
       0.51977401, 0.52272727, 0.52571429, 0.52873563, 0.53179191,
       0.53488372, 0.5380117 , 0.53529412, 0.53846154, 0.54166667,
       0.54491018, 0.54819277, 0.55151515, 0.54878049, 0.55214724,
       0.54938272, 0.55279503, 0.55625   , 0.55974843, 0.55696203,
       0.56050955, 0.56410256, 0.56129032, 0.56493506, 0.56862745,
       0.56578947, 0.56953642, 0.56666667, 0.5704698 , 0.57432432,
       0.57142857, 0.57534247, 0.57241379, 0.57638889, 0.58041958,
       0.58450704, 0.58156028, 0.58571429, 0.58992806, 0.58695652,
       0.59124088, 0.59558824, 0.6       , 0.59701493, 0.60150376,
       0.60606061, 0.60305344, 0.6       , 0.60465116, 0.609375  ,
       0.61417323, 0.61111111, 0.616     , 0.62096774, 0.62601626,
       0.62295082, 0.61983471, 0.625     , 0.6302521 , 0.62711864,
       0.62393162, 0.62068966, 0.62608696, 0.62280702, 0.61946903,
       0.61607143, 0.61261261, 0.60909091, 0.6146789 , 0.62037037,
       0.61682243, 0.62264151, 0.62857143, 0.625     , 0.63106796,
       0.62745098, 0.62376238, 0.62      , 0.62626263, 0.63265306,
       0.62886598, 0.63541667, 0.63157895, 0.63829787, 0.64516129,
       0.65217391, 0.64835165, 0.65555556, 0.65168539, 0.64772727,
       0.65517241, 0.6627907 , 0.67058824, 0.67857143, 0.68674699,
       0.69512195, 0.7037037 , 0.7       , 0.70886076, 0.71794872,
       0.72727273, 0.72368421, 0.72      , 0.72972973, 0.7260274 ,
       0.72222222, 0.71830986, 0.72857143, 0.72463768, 0.73529412,
       0.73134328, 0.72727273, 0.73846154, 0.734375  , 0.74603175,
       0.75806452, 0.75409836, 0.75      , 0.76271186, 0.75862069,
       0.75438596, 0.75      , 0.74545455, 0.74074074, 0.75471698,
       0.75      , 0.74509804, 0.76      , 0.7755102 , 0.77083333,
       0.76595745, 0.76086957, 0.77777778, 0.79545455, 0.81395349,
       0.83333333, 0.85365854, 0.875     , 0.87179487, 0.86842105,
       0.86486486, 0.86111111, 0.85714286, 0.85294118, 0.84848485,
       0.84375   , 0.83870968, 0.83333333, 0.82758621, 0.82142857,
       0.81481481, 0.80769231, 0.8       , 0.79166667, 0.7826087 ,
       0.77272727, 0.76190476, 0.75      , 0.78947368, 0.77777778,
       0.76470588, 0.75      , 0.8       , 0.78571429, 0.76923077,
       0.83333333, 0.81818182, 0.8       , 0.77777778, 0.75      ,
       0.71428571, 0.66666667, 0.6       , 0.75      , 1.        ,
       1.        , 1.        , 1.        ])

In [46]:
len(pr1[rec1 >= 0.7])

86

In [48]:
len(rec1[rec1 >= 0.7])

86